<%= form_for @conn, session_path(@conn, :create), fn f -> %>
  <%= input(f, :username, "Enter your username") %>
  <%= input(f, :password, "Enter your password") %>

  <div class="form-group">
    <%= submit "Sign in", class: "btn btn-primary"  %>
    or <%= link "create an account", to: user_path(@conn, :new) %>
  </div>
<% end %>

