<p>You are signed in as <strong><%= @current_user.username %></strong>.</p>

<%= form_for @conn, session_path(@conn, :delete), [method: :delete], fn _f -> %>
  <%= submit "Sign out", class: "btn btn-primary" %>
<% end %>
