<%= form_for @changeset, user_path(@conn, :create), fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= input(f, :username, "Choose a username") %>
  <%= input(f, :password, "Choose a password") %>
  <%= input(f, :password_confirmation, "Type the password again") %>

  <%= submit "Submit", class: "btn btn-primary"  %>

  <div class="mt-3">
    Already have an account?
    <%= link("Sign in", to: session_path(@conn, :new)) %>
  </div>
<% end %>
